<div class="row">
	<div class="col-md-6 offset-md-3">
		<h3>Login</h3>
		<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
			<div class="mb-3">
				<label>Email</label>
				<input type="text" class="form-control" formControlName="email" />
				<div style="color: red" *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid">
					<div *ngIf="loginForm.controls['email'].errors?.['required']">
						Email is required
					</div>
					<div *ngIf="loginForm.controls['email'].errors?.['email']">
						format is wrong
					</div>
				</div>
			</div>
			<div>
				<label>Password</label>
				<input type="password" class="form-control" formControlName="password" />
				<div style="color: red" *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">
					<div *ngIf="loginForm.controls['password'].errors?.['required']">
						Password is required
					</div>
				</div>
			</div>
			<div class="mb-3">
				<button [disabled]="!loginForm.valid" type="submit" class="btn btn-info" >Login</button>
			</div>
		</form>
	</div>
</div>
