
<div class="row my-4">
	<div class="col-md-12">
		<h3>Edit Post</h3>
		<hr />
		<form [formGroup]="postForm" (ngSubmit)="onEditPost()">
			<div class="mb-3">
				<label>Title</label>
				<input type="text" class="form-control" formControlName="title" />
				
				<div style="color: red" *ngIf="postForm.controls['title'].touched && !postForm.controls['title'].valid">
					<div *ngIf="postForm.controls['title'].errors?.['required']">
						Title is required
					</div>
					<div *ngIf="postForm.controls['title'].errors?.['minlength']">
						title characters are need 6 or more
					</div>
				</div>
				
			</div>
			<div class="mb-3">
				<label>Description</label>
				<textarea type="text" class="form-control" formControlName="description"></textarea>
				<div style="color: red" *ngIf="postForm.controls['description'].touched && !postForm.controls['description'].valid">
					<div *ngIf="postForm.controls['description'].errors?.['required']">
						Title is required
					</div>
					<div *ngIf="postForm.controls['description'].errors?.['minlength']">
						title characters are need 6 or more
					</div>
				</div>
			</div>
			
			<div>
				<button
					class="my-3"
					type="submit"
					class="btn btn-secondary"
					
				>Edit Post</button>
			</div>
		</form>
	</div>
</div>
