
<div class="row">
	<div class="col-md-12">
		<h3>Posts</h3>
		
		<div>
			<a href="#" class="btn btn-primary" [routerLink]="['/posts/add']">Add Post</a>
		</div>
		
		<table class="table table-striped" *ngIf="posts$ | async as postData">
			<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let post of postData">
					<td>{{post.id}}</td>
					<td>{{post.title}}</td>
					<td>{{post.description}}</td>
					<td>
						<a href="#" class="btn btn-info" [routerLink]="['edit', post.id]">Update</a>
					</td>
					<td><button class="btn btn-warning" (click)="onDeletePost(post.id!)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="col-md-4">
<!--		match with children routes-->
		<router-outlet></router-outlet>
	</div>
</div>
